<a href="https://colab.research.google.com/github/phu024/whatData/blob/main/What.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('soccerplayerhw.csv')

21.create variable for age column

In [ ]:
age = df['age']

In [ ]:
age

0     27
1     29
2     30
3     32
4     28
5     27
6     23
7     30
8     29
9     31
10    28
11    24
12    25
13    30
14    28
15    29
16    28
17    28
18    22
19    22
20    22
21    25
22    26
23    25
24    24
25    26
26    25
27    34
28    31
29    28
30    28
31    22
32    25
33    24
34    26
35    27
36    25
37    27
38    27
39    25
40    26
41    25
42    32
43    30
44    27
45    27
46    25
47    22
48    27
Name: age, dtype: int64

**22.age.max()**

In [ ]:
age.max()

34

**23.find min age**

In [ ]:
print(age.min())

22

**24.find index of max age**

In [ ]:
age.idxmax()

27

**25.print name in df at index of max age**

In [ ]:

df['short_name'][age.idxmax()]

'Xavi'

**26.find index of min age**

In [ ]:
age.idxmin()

18

**27.print name in df at index of min age**

In [ ]:
df['short_name'][age.idxmin()]

'J. Rodríguez'

*----------------------------------เพิ่มเติม----------------------------------*

In [ ]:
#find list indexs of max age
listMax = age[age == age.max()].index.tolist()

In [ ]:
#print list indexs of max age with name in df
for i in listMax:
    print(df['short_name'][i])

Xavi

In [ ]:
df['short_name'][listMax]

27    Xavi
Name: short_name, dtype: object

In [ ]:
#find list indexs of min age
listMin = age[age == age.min()].index.tolist()

In [ ]:
#print list indexs of min age with name in df
for i in listMin:
    print(df['short_name'][i])

J. Rodríguez
Neymar
T. Courtois
M. Götze
Oscar

In [ ]:
df['short_name'][listMin]

18    J. Rodríguez
19          Neymar
20     T. Courtois
31        M. Götze
47           Oscar
Name: short_name, dtype: object

--------------------------------------------------------------------------------

**28.calculate statistics for age column**

In [ ]:

age.describe()

count    49.000000
mean     26.795918
std       2.857589
min      22.000000
25%      25.000000
50%      27.000000
75%      28.000000
max      34.000000
Name: age, dtype: float64

**29.create function to calculate range of age**

In [ ]:
def range_age1(dataframe):
    #loop through dataframe
    for index, row in dataframe.iterrows():
        # if age is greater than 32 then insert 'Almost Retired' into new column
        if row['age'] >= 32:
            dataframe.loc[index, 'age_range'] = 'Almost Retired'
        # if age is geater than or equal to 25 then insert 'Prime' into new column
        elif row['age'] >= 25:
            dataframe.loc[index, 'age_range'] = 'Prime'
        # if age is less than 25 then insert 'Rookies' into new column
        else:
            dataframe.loc[index, 'age_range'] = 'Rookies'

หรือ

In [ ]:
def range_age2(dataframe):
    # >32 = Almost Retired
    dataframe.loc[dataframe['age'] >= 32, 'age_range'] = 'Almost Retired'
    # >=25 and <32 = Prime
    dataframe.loc[(dataframe['age'] >= 25) & (dataframe['age'] < 32), 'age_range'] = 'Prime'
    # <25 = Rookies
    dataframe.loc[dataframe['age'] < 25, 'age_range'] = 'Rookies'

**30.call function range_age**

In [ ]:
range_age2(df)

In [ ]:
df

,sofifa_id,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,preferred_foot,international_reputation,weak_foot,skill_moves,age_range
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,27,6/24/1987,169,67,Argentina,FC Barcelona,93,95,0,0,CF,Left,5,3,4,Prime
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,2/5/1985,185,80,Portugal,Real Madrid,92,92,0,0,"LW, LM",Right,5,4,5,Prime
2,9014,A. Robben,Arjen Robben,30,1/23/1984,180,80,Netherlands,FC Bayern München,90,90,0,0,"RM, LM, RW",Left,5,2,4,Prime
3,41236,Z. Ibrahimović,Zlatan Ibrahimović,32,10/3/1981,195,95,Sweden,Paris Saint-Germain,90,90,0,0,ST,Right,5,4,4,Almost Retired
4,167495,M. Neuer,Manuel Neuer,28,3/27/1986,193,92,Germany,FC Bayern München,90,90,0,0,GK,Right,5,4,1,Prime
5,176580,L. Suárez,Luis Alberto Suárez Díaz,27,1/24/1987,181,81,Uruguay,FC Barcelona,89,91,0,0,"ST, CF",Right,5,4,4,Prime
6,183277,E. Hazard,Eden Hazard,23,1/7/1991,173,74,Belgium,Chelsea,88,90,0,0,"LM, RM",Right,4,4,4,Rookies
7,7826,R. van Persie,Robin van Persie,30,8/6/1983,187,71,Netherlands,Manchester United,88,88,0,0,ST,Left,5,3,4,Prime
8,121944,B. Schweinsteiger,Bastian Schweinsteiger,29,8/1/1984,183,79,Germany,FC Bayern München,88,88,0,0,"CM, CDM",Right,4,3,3,Prime
9,156616,F. Ribéry,Franck Bilal Ribéry,31,4/7/1983,170,72,France,FC Bayern München,88,88,0,0,LM,Right,4,4,5,Prime
10,167397,Falcao,Radamel Falcao García Zárate,28,2/10/1986,177,72,Colombia,Manchester United,88,88,0,0,ST,Right,4,4,4,Prime
11,173731,G. Bale,Gareth Frank Bale,24,7/16/1989,183,74,Wales,Real Madrid,87,91,0,0,"RM, RW",Left,4,3,4,Rookies
12,188545,R. Lewandowski,Robert Lewandowski,25,8/21/1988,184,78,Poland,FC Bayern München,87,89,0,0,"ST, CF",Right,4,4,4,Prime
13,121939,P. Lahm,Philipp Lahm,30,11/11/1983,170,66,Germany,FC Bayern München,87,87,0,0,"CDM, RB, CM",Right,4,3,3,Prime
14,155862,Sergio Ramos,Sergio Ramos García,28,3/30/1986,183,75,Spain,Real Madrid,87,87,0,0,CB,Right,4,3,3,Prime
15,164240,Thiago Silva,Thiago Emiliano da Silva,29,9/22/1984,183,79,Brazil,Paris Saint-Germain,87,87,0,0,CB,Right,4,3,3,Prime
16,168542,David Silva,David Josué Jiménez Silva,28,1/8/1986,170,67,Spain,Manchester City,87,87,0,0,"LM, CAM",Left,4,2,4,Prime
17,177003,L. Modrić,Luka Modrić,28,9/9/1985,174,65,Croatia,Real Madrid,87,87,0,0,"CM, CDM",Right,4,4,4,Prime
18,198710,J. Rodríguez,James David Rodríguez Rubio,22,7/12/1991,180,75,Colombia,Real Madrid,86,92,0,0,"CAM, RW",Left,4,3,4,Rookies
19,190871,Neymar,Neymar da Silva Santos Junior,22,2/5/1992,175,64,Brazil,FC Barcelona,86,91,0,0,LW,Right,5,5,5,Rookies
20,192119,T. Courtois,Thibaut Courtois,22,5/11/1992,199,88,Belgium,Chelsea,86,90,0,0,GK,Left,3,3,1,Rookies
21,178603,M. Hummels,Mats Hummels,25,12/16/1988,192,90,Germany,Borussia Dortmund,86,88,0,0,CB,Right,4,3,2,Prime
22,183898,A. Di María,Ángel Fabián Di María Hernández,26,2/14/1988,180,70,Argentina,Manchester United,86,88,0,0,"CAM, CM, RM",Left,4,2,4,Prime
23,188350,M. Reus,Marco Reus,25,5/31/1989,181,73,Germany,Borussia Dortmund,86,88,0,0,"LM, RM, ST, CAM",Right,3,4,4,Prime
24,189596,T. Müller,Thomas Müller,24,9/13/1989,186,75,Germany,FC Bayern München,86,88,0,0,"RM, CAM, ST, LM",Right,4,4,3,Rookies
25,153079,S. Agüero,Sergio Leonel Agüero del Castillo,26,6/2/1988,172,74,Argentina,Manchester City,86,87,0,0,ST,Right,4,4,4,Prime
26,176635,M. Özil,Mesut Özil,25,10/15/1988,183,76,Germany,Arsenal,86,87,0,0,"CAM, LW",Left,3,2,4,Prime
27,10535,Xavi,Xavier Hernández Creus,34,1/25/1980,170,68,Spain,FC Barcelona,86,86,0,0,CM,Right,4,3,3,Almost Retired
28,20289,Y. Touré,Gnégnéri Yaya Touré,31,5/13/1983,189,90,Ivory Coast,Manchester City,86,86,0,0,"CM, CDM",Right,4,4,3,Prime
29,54050,W. Rooney,Wayne Mark Rooney,28,10/24/1985,176,83,England,Manchester United,86,86,0,0,"ST, CF, CAM",Right,4,4,3,Prime
30,139720,V. Kompany,Vincent Kompany,28,4/10/1986,192,85,Belgium,Manchester City,86,86,0,0,CB,Right,4,3,2,Prime
31,192318,M. Götze,Mario Götze,22,6/3/1992,176,72,Germany,FC Bayern München,85,91,0,0,"CAM, CF, CM, RM",Right,3,4,4,Rookies
32,189511,Sergio Busquets,Sergio Busquets i Burgos,25,7/16/1988,189,73,Spain,FC Barcelona,85,89,0,0,"CDM, CM",Right,4,3,3,Prime
33,182521,T. Kroos,Toni Kroos,24,1/4/1990,182,78,Germany,Real Madrid,85,88,0,0,"CM, CDM, CAM",Right,4,5,3,Rookies
34,165153,K. Benzema,Karim Benzema,26,12/19/1987,184,79,France,Real Madrid,85,87,0,0,ST,Right,4,4,4,Prime
35,179813,E. Cavani,Edinson Roberto Cavani Gómez,27,2/14/1987,184,71,Uruguay,Paris Saint-Germain,85,87,0,0,"ST, RW",Right,4,3,3,Prime
36,179844,Diego Costa,Diego da Silva Costa,25,10/7/1988,188,81,Spain,Chelsea,85,87,0,0,ST,Right,3,4,3,Prime
37,181872,A. Vidal,Arturo Vidal,27,5/22/1987,180,75,Chile,Juventus,85,87,0,0,"CM, CDM",Right,4,4,3,Prime
38,167948,H. Lloris,Hugo Lloris,27,12/26/1986,188,78,France,Tottenham Hotspur,85,86,0,0,GK,Left,3,1,1,Prime
39,177610,Javi Martinez,Javier Martínez Aginaga,25,9/2/1988,190,81,Spain,FC Bayern München,85,86,0,0,"CB, CDM, CM",Right,3,3,2,Prime
40,178088,Juan Mata,Juan Manuel Mata García,26,4/28/1988,174,63,Spain,Manchester United,85,86,0,0,"CAM, RM",Left,3,3,4,Prime
41,183907,J. Boateng,Jérôme Boateng,25,9/3/1988,192,90,Germany,FC Bayern München,85,86,0,0,"CB, RB",Right,4,4,3,Prime
42,48940,P. Čech,Petr Čech,32,5/20/1982,196,90,Czech Republic,Chelsea,85,85,0,0,GK,Left,4,3,1,Almost Retired
43,143001,C. Tévez,Carlos Alberto Tevez,30,2/5/1984,173,75,Argentina,Juventus,85,85,0,0,"ST, CF",Right,3,3,3,Prime
44,152729,Piqué,Gerard Piqué Bernabéu,27,2/2/1987,192,85,Spain,FC Barcelona,84,89,0,0,CB,Right,4,3,2,Prime
45,143745,A. Turan,Arda Turan,27,1/30/1987,177,76,Turkey,Atlético Madrid,84,88,0,0,"LM, RM, CAM",Right,3,4,4,Prime
46,184941,A. Sánchez,Alexis Alejandro Sánchez Sánchez,25,12/19/1988,171,62,Chile,Arsenal,84,88,0,0,"RW, ST",Right,3,3,4,Prime
47,188152,Oscar,Oscar dos Santos Emboaba Júnior,22,9/9/1991,179,67,Brazil,Chelsea,84,87,0,0,"CAM, RM",Right,3,3,4,Rookies
48,165239,S. Nasri,Samir Nasri,27,6/26/1987,175,75,France,Manchester City,84,86,0,0,"LM, RM",Right,3,4,4,Prime